header {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    nav {
       display: flex;
       justify-content: space-around;
       background-color: transparent;
       font-size: 1.6rem;
       a {
           margin-right: 1.5rem;
           margin-top: 1.5rem;
           text-decoration: none;
           color: @main-font-color;
       }
       .signup-btn{
        .btn-style(@btn-color; 1.6rem);
    }
    }
}